# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\COURSES\Spring Framework\Spring Framework 5-Beginner to guru\springFramework-dependencyInjection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
